
.alignToCenter{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}  
.alignedToTop{
    align-items: center;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.alignVertical{
    display: flex;
    align-items: center;
}
.first-row{
    background-image: url('../assets/cadeira2.webp');
    background-repeat: no-repeat;
    background-position: center;
    height:90vh
}
.title-home{
    color: #ffffff;
    font-family: Lato;
    font-weight: 400;
    font-size: 70px;
    line-height: 1;
}
.subtitle-first-row{
    color: #ffffff;
    font-family: Lato;
    font-weight: 400;
    font-size: 20px;
    margin-top:20px;
    max-width:750px
}
.btn-first-row{
    margin: 20px 0px;
    background-color: transparent;
    border: 1px solid #d8d8d8;
    padding:10px 30px;
    border-radius: 15px;
    font-size: 20px;
    color: #d8d8d8;
    font-family: Lato;
    cursor:pointer;
    transition: 0.3s ease-in-out
}
.btn-first-row:hover{
    background-color: #61616186;
    box-shadow:  5px 5px 5px #35353536;
}
.container{
    max-width:950px
}
.section{
    padding:30px 0px;
    margin:30px 0px 0px 0px;
}
.titleSection{
    color: #4a4a4a;
    font-family: Lato;
    font-weight: 400;
    font-size: 50px;
    line-height: 1;
}
.line-separator{
    height:1px;
    width:280px;
    background-color:#4a4a4a;
    margin:10px 0px 20px 0px;
}
.position-image-gallery{
    position: absolute;
    right:0px;
    bottom:-110px;
}
.btn-cta{
    margin: 20px 0px;
    background-color: transparent;
    border: 1px solid #4a4a4a;
    padding:10px 30px;
    border-radius: 15px;
    font-size: 20px;
    font-family: Lato;
    cursor:pointer;
    transition: 0.3s ease-in-out;
    position: absolute;
    z-index: 99;
}
.btn-cta:hover{
    background-color: #ececec86;
    box-shadow:  5px 5px 5px #afafaf98;
}
.plaint-img{
    max-height:25em;
    position: absolute;
    opacity: 0.2;
    bottom:-100px;
    left:-100px;
    z-index: 0;
    transition: 1s ease-in-out;
}
.plaint-img:hover{
    opacity: 0.4;
}
.row-input{
    background-image: url('../assets/banner5.webp');
    background-repeat: no-repeat;
    height: 80vh;
    margin-top:70px;
}
.input-infos{
    padding:30px 30px 0px 0px; 
    margin:30px 0px;
}
.titleSection-input{
    color: #d8d8d8;
    font-family: Lato;
    font-weight: 400;
    font-size: 50px;
    line-height: 1;
}
.line-separator-input{
    height:1px;
    width:280px;
    background-color:#d8d8d8;
    margin:10px 0px 20px 0px;
}
.card-input{
    max-height:380px;
    min-height:380px;
    max-width:350px;
    width:100%;
    border:1px solid #d8d8d8;
    border-radius:8px;
    padding:30px;
    margin:60px 0px;
    transition: ease-in-out 0.7s;
}
.card-input:hover{
    background-color: #35353552;
}
.input-field{
    background-color: transparent;
    border:1px solid #d8d8d8;
    max-width:220px;
    width:100%;
    height:38px;
    color: #ffffff;
    margin:15px 0px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    padding-left:8px;
    opacity: 0.8; /* Firefox */
}
.btn-input{
    margin: 20px 0px;
    background-color: transparent;
    border: 1px solid #d8d8d8;
    padding:10px 30px;
    border-radius: 15px;
    font-size: 20px;
    color: #d8d8d8;
    font-family: Lato;
    cursor:pointer;
    transition: 0.3s ease-in-out
}
.btn-input:hover{
    background-color: #3b3b3b86;
    box-shadow:  5px 5px 5px #35353536;
}

@media (min-device-width: 1920px) and (max-device-width: 12000px) {
    .plaint-img{
        bottom:-100px;
        left:-280px;
    }
    .row-input{
        height: 55vh;
    }
}